* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(sky-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  width: 580px;
  margin: 30px auto;
  text-align: center;
}

.forecast:hover {
  opacity: 0.7;
}

.forecast-min-temp {
  opacity: 0.6;
}

.inside {
  color: rgba(229, 229, 229, 0.602);
}

.last-update-statement {
  font-family: sans-serif;
  position: relative;
  left: -175px;
  color: rgba(255, 255, 255, 0.313);
  font-size: 12px;
}

.location {
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  margin-top: 25px;
}

.more-details-boxes {
  font-family: "Nunito Sans", sans-serif;
  width: 120px;
  color: whitesmoke;
  background-color: none;
}

.more-details-boxes:hover {
  opacity: 0.7;
}

.temp-content {
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  color: whitesmoke;
}

.temp-content img {
  position: relative;
  top: -28px;
}

.temp-unit {
  color: rgba(229, 229, 229, 0.737);
  font-size: 18px;
  position: relative;
  top: -25px;
}

.weather-content {
  margin-top: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  background-image: linear-gradient(rgba(0, 8, 51, 0.2), rgba(0, 8, 51, 0.227));
  border-radius: 25px;
}

.weather-forecast {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  margin-top: 10px;
  color: white;
  background-image: linear-gradient(rgba(0, 8, 51, 0.2), rgba(0, 8, 51, 0.227));
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 25px;
}

.weather-forecast-day {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temp {
  font-size: 13px;
}

#city-search-bar {
  width: 340px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 60px;
  backdrop-filter: blur(4px) saturate(180%);
}

#city-search-bar button {
  width: 10px;
  border: none;
  background: none;
  cursor: pointer;
  color: rgba(229, 229, 229, 0.737);
}

#city-search-bar input {
  background: transparent;
  border: none;
  outline: none;
  padding: 8px 30px 8px 5px;
  font-size: 16px;
  color: whitesmoke;
}

::placeholder {
  color: rgba(241, 243, 244, 0.76);
}

#current-description {
  font-family: "Nunito Sans", sans-serif;
  color: rgba(229, 229, 229, 0.737);
  position: relative;
  top: -10px;
  text-align: center;
  text-transform: capitalize;
}

#current-description:hover {
  opacity: 0.7;
}

#current-temp {
  font-size: 60px;
}
